<li class="nav-header">
    <div class="dropdown profile-element">
        <img alt="image" class="rounded-circle" src="~/adminPanel/img/profile_small.jpg" />
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="block m-t-xs font-bold">Ariz Cəfərli</span>
            <span class="text-muted text-xs block">Saytın Sahibi</span>
        </a>
    </div>
    <div class="logo-element">
        WB+
    </div>
</li>
<li>
    <a href="/AdminPanel/Dashboard/Index/"><i class="fa fa-diamond"></i> <span class="nav-label">Admin Panel</span></a>
</li>
<li>
<li>
    <a href="/AdminPanel/Category/Index/"><i class="fa fa-book"></i> <span class="nav-label">Kateqoriyalar</span></a>
</li>
<li>
    <a href="/AdminPanel/Blog/Index/"><i class="fa fa-table"></i> <span class="nav-label">Bloglar</span></a>
</li>
<li>
    <a href="/AdminPanel/Notification/Index/"><i class="fa fa-bell"></i> <span class="nav-label">Bildirişlər</span></a>
</li>
<li>
    <a href="/AdminPanel/About/Index/"><i class="fa fa-rss"></i> <span class="nav-label">Haqqımızda</span></a>
</li>
<li>
    <a href="/AdminPanel/Comment/Index/"><i class="fa fa-comment"></i> <span class="nav-label">Kommentlər</span></a>
</li>
<li>
    <a href="/AdminPanel/Message/Index/"><i class="fa fa-envelope"></i> <span class="nav-label">Mesajlar</span></a>
</li>
<li>
    <a href="/AdminPanel/Writer/Index/"><i class="fa fa-user"></i> <span class="nav-label">Yazarlar</span></a>
</li>