@{
    ViewData["Title"] = "ShowCommentMessage";
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
}

<!--/model-->
<section class="banner-bottom">
    <!--/blog-->
    <div class="container">
        <div class="row">
            <!--left-->
            <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                <div class="blog-grid-top" style="margin-left:380px">

                    <h3>
                        <a href="/Blog/Index/">Yorumunuz uğurla əlavə olundu </a>
                    </h3>
                    <p>
                        Dəyərli fikirlərinizi bizimlə bölüşdüyünüz üçün təşəkkür edirik.
                    </p>
                    <a href="/Blog/Index/" class="btn btn-primary read-m">Bloqlara get</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--footer-->
