@model EntityLayer.Concrete.Writer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<!--/main-->
<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">İndi Hesab yarat</h3>
        <div class="inner-sec">
            <div class="login p-5 bg-light mx-auto mw-100">
                <form method="post">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">İstifadəçi adınız</label>
                            <input type="text" name="Name" class="form-control" id="validationDefault01" placeholder="İstifadəçi adınızı girin..." required="">
                            @Html.ValidationMessageFor(x=>x.Name ,"", new {@class="errormessage"})
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">Gmail adresiniz</label>
                            <input type="email" name="Mail" class="form-control" id="validationDefault02" placeholder="Gmail adresinizi girin..." required="">
                            @Html.ValidationMessageFor(x=>x.Mail ,"", new {@class="errormessage"})
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputPassword1 mb-2">Şifrəniz</label>
                            <input type="password" name="Password" class="form-control" id="password1" placeholder="Şifrənizi girin..." required="">
                            @Html.ValidationMessageFor(x=>x.Password ,"", new {@class="errormessage"})
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary submit mb-4">Hesab yarat</button>
                    <p>
                        <a href="#" id="btn">Qeydiyyatdan keçməklə, mən sizin şərtlərinizlə razıyam</a>
                    </p>
                </form>

            </div>
        </div>
    </div>
</section>

<script>
    $('#btn').click(function() {
        swal("Sərhədləri və qəbul edilir məzmunu mədəniyyətlər və fərdlər arasında fərqlilik göstərər ancaq bəzi ortaq mövzular paylaşılmaqdadır. Hər hansı bir şey gizli olduğunda, təbii olaraq adama xüsusi və ya həssas bir vəziyyət var deməkdir. Mahrumiyyət sahəsi məlumatların qorunması və fərdi sahəyə girilməməsini tələb etdiyindən təhlükəsizliklə üst-üstə düşməkdədir.")
    });
</script>
<!--//main-->


